@define-color task_active_label_color #ababab;

@define-color list_row_drag_icon_background black;
@define-color list_row_drag_icon_border white;
@define-color list_row_drag_icon_text white;
@define-color list_row_border_top transparent;
@define-color list_row_border_bottom transparent;
@define-color list_row_drag_highlight_top white;
@define-color list_row_drag_highlight_bottom white;
