GtkLabel.task_status {
    font-size: 20;
    font-weight: bold;
}

GtkLabel.task_break {
    font-size: 12;
    color: #ababab;
}

GtkLabel.task_active {
    font-size: 12;
}

.timerview GtkSpinButton {
    font-size: 25;
}

.timerview GtkLabel {
    font-size: 25;
}
