[Desktop Entry]
Name=Go For It!
GenericName=Go For It!
Comment=A stylish to-do list with built-in productivity timer.
Categories=GTK;Utility;
Exec=go-for-it
Icon=go-for-it
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=go-for-it
X-GNOME-Keywords=Productivity;Todo.txt;Todo;Timer;Task;PIM;Time Management;
