label.task_status {
    font-size: 200%;
    font-weight: bold;
}

label.task_break {
    font-size: 120%;
    color: @gofi_task_active_label_color;
}

label.task_active {
    font-size: 120%;
}

label.task_duration_exceeded {
    color: @gofi_text_attention;
}

.timerview spinbutton {
    font-size: 400%;
}

.timerview label {
    font-size: 250%;
}

.task_layout,
.main_layout list {
    background: @gofi_main_layout_background;
}

.main_layout row {
    background-color: @gofi_row_bg;
    color: @gofi_row_fg;
}
.main_layout row:selected {
    background-color: @gofi_row_bg_selected;
    color: @gofi_row_fg_selected;
}
.main_layout row:selected:focus {
    background-color: @gofi_row_bg_selected_focus;
    color: @gofi_row_fg_selected_focus;
}

.main_layout row link {
    color: @gofi_row_fg;
}
.main_layout row:selected link {
    color: @gofi_row_fg_selected;
}
.main_layout row:selected:focus link {
    color: @gofi_row_fg_selected_focus;
}

row.drag-icon,
row.drag-icon:selected,
row.drag-icon:selected:focus {
    background: @gofi_row_drag_icon_background;
    border: 1px solid @gofi_row_drag_icon_border;
    color: @gofi_row_fg;
}

row.drag-icon label,
row.drag-icon link {
    color: @gofi_row_fg;
}

.no_margin {
    margin: 0;
    padding: 0;
    border: 0px;
}

.settings-frame {
    background-color: @theme_base_color
}
