GtkLabel.task_status {
    font-size: 200%;
    font-weight: bold;
}

GtkLabel.task_break {
    font-size: 120%;
    color: @gofi_task_active_label_color;
}

GtkLabel.task_active {
    font-size: 120%;
}

GtkLabel.task_duration_exceeded {
    color: @gofi_text_attention;
}

.timerview GtkSpinButton {
    font-size: 400%;
}

.timerview GtkLabel {
    font-size: 250%;
}

.task_layout,
.main_layout .list {
    background: @gofi_main_layout_background;
}

.main_layout .list-row {
    background-color: @gofi_row_bg;
    color: @gofi_row_fg;
}
.main_layout .list-row:selected {
    background-color: @gofi_row_bg_selected;
    color: @gofi_row_fg_selected;
}
.main_layout .list-row:selected:focus {
    background-color: @gofi_row_bg_selected_focus;
    color: @gofi_row_fg_selected_focus;
}

.list-row.drag-icon,
.list-row.drag-icon:selected,
.list-row.drag-icon:selected:focus {
    background: @gofi_row_drag_icon_background;
    border: 1px solid @gofi_row_drag_icon_border;
    color: @gofi_row_fg;
}

.list-row.drag-icon label {
    color: @gofi_row_fg;
}

.no_margin {
    margin: 0;
    padding: 0;
    border: 0px;
}
