@import url("palettes/theme-based.css");

GtkLabel.task_status {
    font-size: 200%;
    font-weight: bold;
}

GtkLabel.task_break {
    font-size: 120%;
    color: @gofi_task_active_label_color;
}

GtkLabel.task_active {
    font-size: 120%;
}

GtkLabel.task_duration_exceeded {
    color: @gofi_text_attention;
}

.timerview GtkSpinButton {
    font-size: 400%;
}

.timerview GtkLabel {
    font-size: 250%;
}

.task_layout,
.main_layout .list {
    background: @gofi_main_layout_background;
}

.main_layout .list-row {
    border-top: 1px solid @gofi_row_border_top;
    border-bottom: 1px solid @gofi_row_border_bottom;
}

.main_layout .list-row.drag-icon,
.main_layout .list-row.drag-icon:selected,
.main_layout .list-row.drag-icon:selected:focus {
    background: @gofi_row_drag_icon_background;
    border: 1px solid @gofi_row_drag_icon_border;
    color: @gofi_row_fg;
}

.list-row.drag-icon label {
    color: @gofi_row_fg;
}

.list-row.drag-hover-top {
    border-bottom: 1px solid @gofi_row_drag_highlight_bottom;
}

.list-row.drag-hover-bottom {
    border-top: 1px solid @gofi_row_drag_highlight_top;
}

.no_margin {
    margin: 0;
    padding: 0;
    border: 0px;
}

.gofi_main_window {
    -gtk-icon-style: symbolic
}
