label.task-status {
    font-size: 200%;
    font-weight: bold;
}

label.task-break {
    font-size: 120%;
    color: @gofi_task_active_label_color;
}

label.task-active {
    font-size: 120%;
}

label.task-duration-exceeded {
    color: @gofi_text_attention;
}

.timerview spinbutton {
    font-size: 400%;
}

.timerview label {
    font-size: 250%;
}

.task-layout,
.main-layout list {
    background: @gofi_main_layout_background;
}

.main-layout row.drag-icon,
.main-layout row.drag-icon:selected,
.main-layout row.drag-icon:selected:focus {
    background: @gofi_row_drag_icon_background;
    border: 1px solid @gofi_row_drag_icon_border;
    color: @gofi_row_fg;
}

row.drag-icon label {
    color: @gofi_row_fg;
}

.no-margin {
    margin: 0;
    padding: 0;
    border: 0px;
}

.settings-frame {
    background-color: @theme_base_color
}
