label.task_status {
    font-size: 200%;
    font-weight: bold;
}

label.task_break {
    font-size: 120%;
    color: @gofi_task_active_label_color;
}

label.task_active {
    font-size: 120%;
}

label.task_duration_exceeded {
    color: @gofi_text_attention;
}

.timerview spinbutton {
    font-size: 400%;
}

.timerview label {
    font-size: 250%;
}

.task_layout,
.main_layout list {
    background: @gofi_main_layout_background;
}

.main_layout row {
    border-top: 1px solid @gofi_row_border_top;
    border-bottom: 1px solid @gofi_row_border_bottom;
}

.main_layout row.drag-icon,
.main_layout row.drag-icon:selected,
.main_layout row.drag-icon:selected:focus {
    background: @gofi_row_drag_icon_background;
    border: 1px solid @gofi_row_drag_icon_border;
    color: @gofi_row_fg;
}

row.drag-icon label {
    color: @gofi_row_fg;
}

row.drag-hover-top {
    border-bottom: 1px solid @gofi_row_drag_highlight_bottom;
}

row.drag-hover-bottom {
    border-top: 1px solid @gofi_row_drag_highlight_top;
}

.no_margin {
    margin: 0;
    padding: 0;
    border: 0px;
}
